#drawer {
  color: $text-color-light;
  background-color: $color-primary;
  flex: 1 1 15rem;
  display: flex;
  flex-direction: column;

  #version {
    font: $font-link;
    font-size: 0.75rem;
    padding: 1rem;
    -webkit-font-smoothing: subpixel-antialiased;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;

    router-link {
      padding: 1rem;
      letter-spacing: 0.25rem;
      color: $text-color-light;
      cursor: pointer;
      text-transform: uppercase;
      font: $font-link;
      -webkit-font-smoothing: subpixel-antialiased;

      &:hover,
      &.active {
        background-color: darken($color-primary, 10);
      }
    }
  }
}
