#tabs {
  height: $tabs-height;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: stretch;
  background-color: $text-color-dark;

  a {
    text-decoration: none;
    color: $text-color-light;
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &.active {
      color: $color-primary;
    }
  }
}

@media screen and (min-width: $mobile-breakpoint) {
  #tabs {
    display: none;
  }
}
