#toolbar {
  padding: 0.5rem 1rem;
  color: $color-primary;
  display: flex;
  align-items: center;
  height: $toolbar-height;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
}
