$text-color-dark: #333;
$text-color-light: #efefef;
$bg-color-light: #fff;
$bg-color-dark: #174a3c;
$color-primary: #00a97a;
$color-accent: #0082a9;
$font-body: 400 1rem 'Roboto', helvetica, sans-serif;
$font-title: 300 3rem 'Raleway', helvetica, sans-serif;
$font-link: 400 0.9rem 'Raleway', helvetica, sans-serif;
$toolbar-height: 4rem;
$tabs-height: 4rem;
$mobile-breakpoint: 500px;
