$text-color-dark: #333;
$text-color-light: #efefef;
$bg-color-light: #fff;
$bg-color-dark: #174a3c;
$color-primary: #00a97a;
$font-body: 400 1rem helvetica, sans-serif;
$toolbar-height: 4rem;
$tabs-height: 4rem;
$mobile-breakpoint: 500px;
