#views {
  display: block;
  width: 100vw;
  height: calc(100vh - #{$toolbar-height} - #{$tabs-height});
  position: relative;
  overflow: hidden !important;

  .view {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(-100%, 0);
    transition: transform 400ms ease, opacity 400ms ease;
    opacity: 0;
    background-color: #fff;
    padding: 1rem;
    box-sizing: border-box;

    &.active {
      transform: translate(0, 0);
      opacity: 1;

      & ~ .view {
        transform: translate(100%, 0);
      }
    }
  }
}
